@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&display=swap');

body, html {
    height: calc(100% - 2em);
    margin: 0%;
    font-family:  'Anonymous Pro';
}
body {
	background: rgb(69,110,224);
    background: linear-gradient(90deg, rgba(69,110,224,1) 0%, rgba(160,86,172,1) 50%, rgba(98,7,167,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

aside {
    color: white;
    display: grid;
    grid-template-columns: auto 40px;
    padding: 2em;
}

img {
    width: 40px;
    cursor: pointer;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 1.7em;
    font-weight: bold;
}

nav {
    background: white; 
}

.active {
    position: absolute;
    display: block;
    background: #fff;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
}

ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1;
    display: block;
    padding: 1.5em 3em;
    background-color: rgba(255,255,255,.35);
    color: black;

}

main {
    background: white;
    padding: 1em 1.4em;
}

h1 {
    margin: 0;
}

p {
    font-size: 1.1em;
    line-height: 1.5em;
}

.cta {
    display: block;
    color: white;
    background:blueviolet;
    text-decoration: none;
    padding: 8px 50px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin: 2em 0;
}